<div class="loader" *ngIf="loader"> 
    <h2>please wait....</h2>
</div>

<div class="card card-body mb-3">
    <h2>Add User</h2>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="currentUser.name" name="Name" #name>
        </div>
        <div class="form-group">
            <label>Phone nember</label>
            <input type="text" class="form-control" [(ngModel)]="currentUser.phone" name="Phone" #phone>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="currentUser.email" name="email" #email>
        </div>
        <input type="hidden" [(ngModel)]="currentUser.id" name="id">
        <button *ngIf="!isEdit" (click)="addUser(name.value, phone.value, email.value)" class="btn btn-block mb-3 btn-primary">Add New User</button>
        <button *ngIf="isEdit" (click)="updateUser()" class="btn btn-block mb-3 btn-warning">Update User</button>
    </form>
</div>