.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 33px;
    font-weight: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: progress;
    z-index: 999;
    left: 0;
    top: 0;
}