<app-user-form [currentUser]="currentUser" [isEdit]="isEdit" (newUser)="onNewUser($event)" (updatedUser)="onUpdatedUser($event)" ></app-user-form>
<h2>Users List</h2>
<ul class="list-unstyled">  
    <li class="card card-body mb-4" *ngFor="let user of users">
        <h3>{{user.name}}</h3>
        <ul class="list-group">
            <li class="list-group-item bg-light">Email: {{user.email}}</li>
            <li class="list-group-item bg-light">Phone number: {{user.phone}}</li>
            <li class="list-group-item bg-light">Joined: </li>
            <li class="list-group-item bg-light">
                <button (click)="editUser(user)" class="btn btn-success mr-3">Edit</button>
                <button (click)="removeUser(user)" class="btn btn-danger">Delete</button>
            </li>
        </ul>
    </li>
</ul>
